html {
height: 100%;
width: 100%;
}

body {
min-height: 100%;
margin: 0;
padding: 0;
}


table
{
	table-layout: auto
}

td
{
	border: 1px solid #999;
	font-size: 16pt;
	text-align: center;
	overflow: hidden;
	resize: none;
	width: 3.0em;
	height: 3.0em;
}

span
{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
