
html {
height: 100%;
width: 100%;
}

body {
min-height: 100%;
margin: 0;
padding: 0;
}

.c {
	border: 1px black solid;
	width: 3.0em;
	height: 3.0em;
}

.rbeg {
	border: 1px black solid;
	white-space:nowrap;
	width: 3.0em;
	height: 1.2em;
}

.cbeg {
	border: 1px black solid;
	width: 3.0em;
	height: 3.0em;
}

p
{
        display: inline;
}

canvas 
{
    width: 100%;
    height: auto;
}